.site.content .ceh {
  margin: 0 0 0 50px;
  position: relative;
}
.site.content .ceh .content.page {
  width: 100%;
  background-color: #ffffff;
  min-height: 600px;  
}
.site.content .ceh .content.page.fake-1 {
  background-color: #f0eeef;
  border: 2px solid #fff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-3deg);
}

.site.content .ceh .content.page.fake-2 {
  background-color: #f0eeef;
  border: 2px solid #fff;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(3deg);
}

.site.content .ceh .content.page.real {
   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
   border: 2px solid #fff;
  background-color: #fefefe;
  position: relative;
  z-index: 1;
}