.site.access nav {
  
}

.site.access nav {
  border: 1px solid #9e6a52;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 70px;
  float: right;
}


.site.access nav ul {
  margin: 0;
  padding:0;
}


.site.access nav ul li {
  color: #c3b0a9;
  list-style-type: none;
  font-size: 34px;
  font-weight: 300;
  padding: 10px 23px;
  cursor: pointer;
}

.site.access nav ul li:hover {
  color: #fff;
}